/* dark mode stuff   #################################################################### */
:root{
    /* variables for normal website */
    --background_Primary: White;
    --textcolor_Primary: #464646;
    --textcolor_Hover: #353535;
    /* --textcolor_Headings: #4b4b4b; */

}

@media (prefers-color-scheme: dark){
    :root{
        /* variables for dark mode */
        /* --background_Primary: #282828; 
        --textcolor_Primary: #d3d3d3; */
    }
    /* img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      } */
}

/* text styles ######################################################################### */
body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body{
    background-color: var(--background_Primary);
    font-family: sans-serif;
    color: var(--textcolor_Primary);
    min-width: 400px;
}

/* Header title ########################################################*/
header{
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;   
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--background_Primary);
    min-width: 400px;
}
header div.class_HeaderDiv{
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
}

.class_MainTitle {
    display: inline-block;
    color: var(--textcolor_Primary);
    text-decoration: none;
    max-width: 100%;
}
.class_MainTitle h1{
    padding: 0 40px;
}

.class_MenuWords{
    display: none;
}

/* burger menuuuuu ########################################*/

.nav-container {
    display: inline;
    position: relative;
    float: right;
    top: -28px;
    left:-26px;
    padding-right: 40px;
}

/* nav list######################### */
.class_HamburgerWords{
    display: none;
    max-width: 100%;
    padding: 0 40px;
    padding-top: 15px;
    text-align:center;

}
.class_HamburgerWords li{
    display: inline-block;
    width: 100px;
    text-align: center;
}
.class_HamburgerWords a{
    text-decoration: none;
    color: var(--textcolor_Primary);
}
.class_HamburgerWords h3{
    font-weight: lighter;
    padding: 0;
    margin:0;
}
.class_HamburgerWords h3:hover{
    font-weight: bold;
}


/* Burger###################################### */
.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 20px;
    width: 25px;
    top: -4px;
    left: -4px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}
.nav-container .hamburger-lines {
    display: inline;
    height: 20px;
    width: 25px;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-container .hamburger-lines .line {
    display: inline;
    height: 2px;
    width: 100%;
    background: #0e2431;
}

/* burger uncheck animation #######*/
.nav-container .hamburger-lines .line1 {
    transform-origin: right;
    transition: transform 0.4s ease-in-out;
}
.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}
.nav-container .hamburger-lines .line3 {
    transform-origin: right;
    transition: transform 0.4s ease-in-out;
}
/* main needs to be above the check changes */
main {
    max-width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
    text-align: left;
}
.class_HR{
    margin-top: 0;
}

/* burger check animation #########*/


.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform-origin: right;
     transform: rotate(-45deg);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
     transform: scaleY(0);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform-origin: right;
    transform: rotate(45deg);
}
/* main text body #################################################### */

/* Portfolio links########################## */
.class_HompagePortfolio h2{
    margin-bottom:30px;
}
.class_HompagePortfolio li{
    margin-bottom: 5%;
    color: var(--textcolor_Primary);
    display: block;
}
.class_HompagePortfolio a{
    text-decoration: none;
    color: var(--textcolor_Primary);
}
.class_HompagePortfolio img{
    max-width: 100%;
}
.class_HompagePortfolio img:hover{
    opacity: 75%;
    transform: scale(1.01);
}
.class_HompagePortfolio h3{
    font-weight: normal;
    margin: 0;
}

/* About page############################################################################## */
.class_AboutArticle{
    margin-top: 30px;
}
.class_AboutMainPicture{
    display: inline;
    width: 100%;
}
.class_AboutArticleText{
    display: inline;
    margin-bottom:30px;
    vertical-align: top;
}
article h2.class_AboutTitle{
    display: block;
    margin: 20px 0px;
}
article p.class_AboutText{
    font-size:medium;
    font-weight: lighter;
}

/* Footer########################################################### */
.class_Copyright{
    text-align: center;
    font-weight: lighter;
    font-size: small;

}

/* psuedo classes ######################################################################*/
::selection{
    background-color: #5a93c780;
    color: var(--textcolor_Primary);
}

/* Responsive design ################################################################### */
@media screen and (min-width: 500px){
    
}
@media screen and (min-width: 630px){
    /* header###################################################### */
    .class_Hamburger{
        display: none;
    }
    ul.class_MenuWords{
        display: inline;
        color: var(--textcolor_Primary);
        text-decoration: none;
        float: right;
        padding-top: 16px;
        text-align: right;
    }
    .class_MenuWords li{
        display: inline-block;
        width: 130px;
        text-align: right;
    }
    .class_MenuWords a{
        text-decoration: none;
        color: var(--textcolor_Primary);
    }
    .class_MenuWords h3{
        font-weight: lighter;
        padding: 0;
        margin:0;
    }
    h3.class_Contact{
        padding-right: 40px;
    }
    .class_MenuWords h3:hover{
        font-weight: bold;
    }

    /* main text body##############################################*/
    /*  list################ */
    .class_HompagePortfolio{
        margin: 20px 0;
        white-space: nowrap;
    }
    .class_HompagePortfolio ul{
        display: flex;
        flex-wrap: wrap;
    }
    .class_HompagePortfolio li{
        display: inline-block;
        width: 45%;
        margin: 0px auto;
        margin-bottom: 3%;
    }
    .class_HompagePortfolio img{
        max-width: 100%;
    }

    /* about page###################### */
    .class_AboutMainPicture{
        display: inline;
        width: 50%;
    }
    div.class_AboutArticleText{
        display: inline;
        vertical-align: top;
        margin-left: 10px;
    }
    article h2.class_AboutTitle{
        display: inline-block;
        margin: 0;
        margin-bottom: 20px;
        width: 45%;
    }


    
}

@media screen and (min-width: 900px){
    .class_HompagePortfolio li{
        width: 30%;
    }

    /* about page##################### */
    .class_AboutMainPicture{
        width: 40%;
    }
    div.class_AboutArticleText{
        margin-left: 20px;
    }
    article h2.class_AboutTitle{
        width: 55%;
    }
}






