/* dark mode stuff   ################################################## */
:root{
    /* variables for normal website */
    --background_Primary: White;
    --textcolor_Primary: #464646;
    /* --textcolor_Headings: #4b4b4b; */

}

@media (prefers-color-scheme: dark){
    :root{
        /* variables for dark mode */
        /* --background_Primary: #282828; 
        --textcolor_Primary: #d3d3d3; */
    }
    /* img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      } */
}

/* text styles ######################################################## */
body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body{
    background-color: var(--background_Primary);
    font-family: sans-serif;
    color: var(--textcolor_Primary);
}

/* Header title */
header{
    padding: 20px 0px;
    text-align: center;
    position: fixed;
    width: 100%;   
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--background_Primary);
}

.class_MainTitle h1{
    display: inline-block;
    color: var(--textcolor_Primary);
    text-decoration: none;
}

/* main text body #################################################### */
main {
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
    text-align: center;
}
.class_HR{
    margin-top: 0;
}
/* Portfolio links########################## */
.class_HompagePortfolio h2{
    margin-bottom:30px;
}
.class_HompagePortfolio li{
    margin-bottom: 5%;
    color: var(--textcolor_Primary);
    display: block;
}
.class_HompagePortfolio a{
    text-decoration: none;
    color: var(--textcolor_Primary);
}
.class_HompagePortfolio img{
    max-width: 80%;
}
.class_HompagePortfolio img:hover{
    opacity: 75%;
    transform: scale(1.01);
}
.class_HompagePortfolio h3{
    font-weight: normal;
    margin: 0;
}

/* Project links ############################### */



/* Footer########################################################### */
.class_Copyright{
    text-align: center;
    font-weight: lighter;
    font-size: small;

}

/* psuedo classes ##################################################*/
::selection{
    background-color: #5a93c780;
    color: var(--textcolor_Primary);
}





/* Responsive design ############################################## */
@media screen and (min-width: 500px){
    
}

@media screen and (min-width: 600px){
    .class_HompagePortfolio{
        margin: 20px 0;
        white-space: nowrap;
    }
    .class_HompagePortfolio ul{
        display: flex;
        flex-wrap: wrap;
    }
    .class_HompagePortfolio li{
        display: inline-block;
        width: 40%;
        margin: 0px auto;
        margin-bottom: 3%;
    }
    .class_HompagePortfolio img{
        max-width: 100%;
    }
    
}

@media screen and (min-width: 900px){
    .class_HompagePortfolio li{
        width: 30%;
    }
}